<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<body>
    <form id="MembersForm" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
    {% buttons submit='Envoyer' reset="Réinitialiser" %}{% endbuttons %}
        </form>
        <form id="TechnicalForm" method="post">
        {% csrf_token %}
        {% bootstrap_form technical %}
            {% buttons submit='Envoyer' reset="Réinitialiser" %}{% endbuttons %}
    </form>
    <form id="NocForm" method="post">
        {% csrf_token %}
        {% bootstrap_form noc %}
            {% buttons submit='Envoyer' reset="Réinitialiser" %}{% endbuttons %}
    </form>
        <form id="BillingForm" method="post">
        {% csrf_token %}
        {% bootstrap_form billing %}
                {% buttons submit='Envoyer' reset="Réinitialiser" %}{% endbuttons %}
    </form>
            <form id="RouterForm" method="post">
        {% csrf_token %}
        {% bootstrap_form router %}
        {% buttons submit='Envoyer' reset="Réinitialiser" %}{% endbuttons %}
            </form>
    <form id="PasswordrForm" method="post">
        {% csrf_token %}
        {% bootstrap_form password %}
        {% buttons submit='Envoyer' reset="Réinitialiser" %}{% endbuttons %}
    </form>
</body>
</html>