{% extends "base.html" %}
{%  load staticfiles %}
{% block sb_admin_breadcrumb_active %}
    <li class="active">

        <i class="fa fa-play"></i> Statistiques

    </li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_subheading %}Statistiques{% endblock sb_admin_subheading %}
{% block content %}
    <form id="Fluxpost" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

                    <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Result</h3>
                            </div>
                            <div class="panel-body">
                                <div class="chart">
                                    <div class="flot-chart-content" id="Chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
    {% endblock content %}
{% block sb_admin_custom_js %}
        {%  if not not_member %}
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/highstock.js" %}"></script>
<script type="text/javascript" src="{% static "js/modules_highstock/exporting.js" %}"></script>
            <script type="text/javascript" src="{% static "js/modules_highstock/no-data-to-display.js" %}"></script>
<script type="text/javascript">
    var ranges = [
      { divider: 1e18 , suffix: 'P' },
      { divider: 1e15 , suffix: 'E' },
      { divider: 1e12 , suffix: 'T' },
      { divider: 1e9 , suffix: 'G' },
      { divider: 1e6 , suffix: 'M' },
      { divider: 1e3 , suffix: 'k' }
    ];

    function formatNumber(n) {
      for (var i = 0; i < ranges.length; i++) {
        if (n >= ranges[i].divider) {
          return (n / ranges[i].divider).toFixed(2).toString() + ' ' + ranges[i].suffix;
        }
      }
      return n.toString();
    }
    function FormChanged(dataForm){
        var data_serialized = $("#Fluxpost").serialize();
        var period = dataForm.elements['id_period'].value;
        var jqxhr_post = jQuery.post("{% url "charts" %}", data_serialized, function datarecieved(data){dataUpdated(data,period);}, "json");
        if (jqxhr_post.status == 403){
            document.getElementById("alert_info").innerHTML = "Error: Access forbidden";
            document.getElementById("alert_info").style.display = "block";
        }
        else if(jqxhr_post.status == 501){
            document.getElementById("alert_info").innerHTML = "Error: Operation not supported";
            document.getElementById("alert_info").style.display = "block";

        }
        else if (jqxhr_post.status == 200){
            document.getElementById("alert_info").style.display = "none";
        }
    }
    function dataUpdated(stats, period, unit) {
        var statsDef = [];
    for (i = 0; i < stats.length; i++) {
        statsDef[i] = [Date.parse(stats[i].time), stats[i].value]
    };
        Highcharts.stockChart('Chart',{
            chart: {
                zoomType: 'x'
            },
            title: {
                text: ""
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Bandwidth'
                },
                min: 0
            },
            legend: {
                enabled: false
            },

            series: [{
                type: 'area',
                name: 'Bandwidth',
                data: statsDef,
                marker: {
                    enabled: false
                },
                fillColor: {
                linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                },
                stops: [
                    [0, Highcharts.getOptions().colors[0]],
                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                ]
            },
                tooltip: {
                    pointFormatter: function() {

                        return '<b>'+ this.series.name+'</b> : '+ formatNumber(this.y) + 'Bit/sec';
                    }
                }
            }]
        });
    }
    var return_post = jQuery.post("{% url "charts" %}", $("#Fluxpost").serialize(), function datarecieved(data){dataUpdated(data,"year","bits");}, "json");
    var updateInterval = setInterval(FormChanged, 300000, this.form);

</script>
        {% endif %}
{% endblock sb_admin_custom_js %}