{% extends "django_sb_admin/base.html" %}
{% block sb_admin_header %}TouSIX-Manager{% endblock sb_admin_header %}
{% block sb_admin_header_url %}/{% endblock sb_admin_header_url %}
{% block sb_admin_title %}{% block title %}{% endblock title %}{% endblock sb_admin_title %}
{% block sb_admin_sidebar %}
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="{% url "restricted stats" %}"><i class="fa fa-fw fa-bar-chart-o"></i> Statistiques</a>
        </li>
        <li>
            <a href="{% url "grafana_main" %}"><i class="fa fa-fw fa-bar-chart-o"></i> Statistiques</a>
        </li>
    {% if member.approved %}
        <li>
            <a href="{% url "update member" %}"><i class="fa fa-fw fa-edit"></i> Paramètres membre</a>
        </li>
    {% endif %}
    {% if user.username and not member.approved %}
        <li>
            <a href="{% url "Create member" %}"><i class="fa fa-fw fa-play"></i> S'inscrire en tant que membre</a>
        </li>
    {% endif %}
    {% if user.is_superuser %}
        <li>
            <a href="{% url "admin:index" %}"><i class="fa fa-fw fa-wrench"></i> Panneau administration</a>
        </li>
    {% endif %}
        </ul>
{% endblock sb_admin_sidebar %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="index.html">Accueil</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
    <li class="active">

        <i class="fa fa-play"></i> Need some change here !

    </li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_navbar_right %}
    {% if user.username %}
    <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {% if user.username %}{{ user.username }}{% else %}Anonymous{% endif %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url "auth_logout" %}?next=/"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
    {% else %}
        <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
 <a href="{% url "auth_login" %}">Login</a>
                        </li>
                        <li>
    <a href="{% url "registration_register" %}">Register</a>
                        </li>
                    </ul>
                </li>
</ul>
    {% endif %}
{% endblock sb_admin_navbar_right %}
{% block sb_admin_content %}{% block alert_info %}<div class="alert alert-danger" id="alert_info" style="display: none;">Customize your alert text here</div>{% endblock alert_info %}{% block content %}{% endblock content %}{% endblock sb_admin_content %}