<!DOCTYPE html>
{%  load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<LINK rel=stylesheet type="text/css" href="{% static "css/metricsgraphics.css" %}">

<a href="{% url "auth_login" %}">Login</a>
<a href="{% url "registration_register" %}">Register</a>

    <form id="Fluxpost" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <div id="Chart"></div>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/metricsgraphics.min.js" %}"></script>
<script type="text/javascript">

    function FormChanged(dataForm){
        var data_serialized = $("#Fluxpost").serialize();
        var period = dataForm.elements['id_period'].value;
        var unit = dataForm.elements["id_unit"].value;
        jQuery.post("{% url "restricted stats" %}", data_serialized, function datarecieved(data){dataUpdated(data,period,unit);}, "json");
    }
    function dataUpdated(stats, period, unit) {
        // example : 2015-06-22T16:12:57+00:00
        MG.convert.date(stats, "time" ,"%Y-%m-%dT%H:%M:%S");
        var miss_resolution = "day";
        switch (period){

            case "hour":
                miss_resolution = "second";
                break;
            case "day":
                miss_resolution = "minute";
                break;
            case "month":
                miss_resolution = "hour";
                break;
            case "year":
                miss_resolution = "day";

        }
        MG.data_graphic({
            title: "Result",
            data: stats,
            width: 600,
            y_accessor: "value",
            x_accessor: "time",
            min_y: 0,
            missing_is_zero: true,
            xax_start_at_min: true,
            missing_text: 'Aucune donnée disponible pour ce flux',
            missing_resolution: miss_resolution,
            height: 200,
            right: 40,
            xax_count: 4,
            mouseover: function (d, i) {
                // custom format the rollover text, show days
                var label = "ND";
                if (unit == "packets")
                {
                    label = "packets/sec";
                }
                else if (unit == "bytes")
                {
                   label = "o/sec";
                }
                var prefix = d3.formatPrefix(d.value);
                d3.select('#Chart svg .mg-active-datapoint')
                        .text(d.time.toLocaleString() + ' '+ prefix.scale(d.value).toFixed(2) + ' '+ prefix.symbol + label );
            },
            target: '#Chart'
        });
    }
    jQuery.post("{% url "charts" %}", $("#Fluxpost").serialize(), function datarecieved(data){dataUpdated(data,"year","bytes");}, "json");
</script>
</body>
</html>