<!DOCTYPE html>
{%  load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<LINK rel=stylesheet type="text/css" href="{% static "css/metricsgraphics.css" %}">
<a href="{% url "auth_logout" %}?next=/">Logout</a>

{% if not_member %}
    {% if member %}
        Le compte n'a pas encore été approuvé par l'administrateur.
    {% else %}
    <a href="{% url "Create member" %}">S'inscrire en tant que membre</a>
        {% endif %}
    {% else %}
    <a href="{% url "update member" %}">Mise à jour des paramètres</a>
    <form id="Fluxpost" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <div id="Chart"></div>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/metricsgraphics.min.js" %}"></script>
<script type="text/javascript">
    function FormChanged(dataForm){
        var data_serialized = $("#Fluxpost").serialize();
        var period = dataForm.elements['id_period'].value;
        jQuery.post("{% url "charts" %}", data_serialized, function datarecieved(data){dataUpdated(data,period);}, "json");
    }
    function dataUpdated(stats, period, unit) {
        // example : 2015-06-22T16:12:57+00:00
        MG.convert.date(stats, "time" ,"%Y-%m-%dT%H:%M:%S");
        if (stats.length == 0) {
            stats = null;
        }
        var miss_resolution = "day";
        switch (period){

            case "hour":
                miss_resolution = "second";
                break;
            case "day":
                miss_resolution = "minute";
                break;
            case "month":
                miss_resolution = "hour";
                break;
            case "year":
                miss_resolution = "day";

        }
        var mgArray = {
            title: "Result",
            width: 600,
            y_accessor: "value",
            y_label: "bits/second",
            x_accessor: "time",
            xax_start_at_min: true,
            missing_is_zero: true,
            missing_text: 'Aucune donnée disponible pour ce flux',
            missing_resolution: miss_resolution,
            height: 200,
            interpolate: "linear",
            right: 40,
            min_y: 0,
            xax_count: 4,
            mouseover: function (d, i) {
                // custom format the rollover text, show days
                var label = "bits/sec";
                var prefix = d3.formatPrefix(d.value);
                d3.select('#Chart svg .mg-active-datapoint')
                        .text(d.time.toLocaleString() + ' '+ prefix.scale(d.value).toFixed(2) + ' '+ prefix.symbol + label );
            },
            target: '#Chart'
        };
        if (stats.length != 0) {
            mgArray.data = stats;
        }else
        {
            mgArray.chart_type = 'missing-data';
        }
        MG.data_graphic(mgArray);
    }
    jQuery.post("{% url "charts" %}", $("#Fluxpost").serialize(), function datarecieved(data){dataUpdated(data,"year","bytes");}, "json");
    var updateInterval = setInterval(FormChanged(null), 300000);
</script>
{% endif %}
</body>
</html>