{% extends "base.html" %}
{%  load staticfiles %}
{% block sb_admin_breadcrumb_active %}
    <li class="active">

        <i class="fa fa-play"></i> Statistiques

    </li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_subheading %}Statistiques{% endblock sb_admin_subheading %}
{% block content %}
{% if not_member %}
    {% if member %}
        Le compte n'a pas encore été approuvé par l'administrateur.
    {% else %}
    <a href="{% url "Create member" %}">S'inscrire en tant que membre</a>
        {% endif %}
    {% else %}
    <a href="{% url "update member" %}">Mise à jour des paramètres</a>
    <form id="Fluxpost" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

                    <div class="row">
                    <div class="col-lg-7">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Result</h3>
                            </div>
                            <div class="panel-body">
                                <div class="chart">
                                    <div class="chart-content" id="Chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
    {% endif %}

    {% endblock content %}

{% block sb_admin_custom_js %}
        {%  if not not_member %}
<script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/metricsgraphics.min.js" %}"></script>
<script type="text/javascript">
    function FormChanged(dataForm){
        var data_serialized = $("#Fluxpost").serialize();
        var period = dataForm.elements['id_period'].value;
        jQuery.post("{% url "charts" %}", data_serialized, function datarecieved(data){dataUpdated(data,period);}, "json");
    }
    function dataUpdated(stats, period, unit) {
        // example : 2015-06-22T16:12:57+00:00
        MG.convert.date(stats, "time" ,"%Y-%m-%dT%H:%M:%S");
        var miss_resolution = "day";
        switch (period){

            case "hour":
                miss_resolution = "second";
                break;
            case "day":
                miss_resolution = "minute";
                break;
            case "month":
                miss_resolution = "hour";
                break;
            case "year":
                miss_resolution = "day";

        }
        var mgArray = {
            height: 800,
            y_accessor: "value",
            y_label: "bits/second",
            x_accessor: "time",
            xax_start_at_min: true,
            missing_is_zero: true,
            missing_text: 'Aucune donnée disponible pour ce flux',
            missing_resolution: miss_resolution,
            full_width: true,
            interpolate: "linear",
            min_y: 0,
            xax_count: 4,
            mouseover: function (d, i) {
                // custom format the rollover text, show days
                var label = "bits/sec";
                var prefix = d3.formatPrefix(d.value);
                d3.select('#Chart svg .mg-active-datapoint')
                        .text(d.time.toLocaleString() + ' '+ prefix.scale(d.value).toFixed(2) + ' '+ prefix.symbol + label );
            },
            target: '#Chart'
        };
        if (stats.length != 0) {
            mgArray.data = stats;
        }else
        {
            mgArray.chart_type = 'missing-data';
        }
        MG.data_graphic(mgArray);
    }
    jQuery.post("{% url "charts" %}", $("#Fluxpost").serialize(), function datarecieved(data){dataUpdated(data,"year","bytes");}, "json");
    var updateInterval = setInterval(FormChanged, 300000, this.form);
</script>
        {% endif %}
{% endblock sb_admin_custom_js %}